:root {
	--bg-dark: #17181F;
	--bg-gray: #23242E;
	--text-white: #fff;
	--btn-hover: #666C8F;
}

.page {
	background: var(--bg-dark);
	color: var(--text-white);
}
@media screen and (prefers-color-scheme: light) {
	.page {
		background: #fff;
		color: #17181F;
	}
}
.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.cards-container {
	width: 300px;
	position: relative;
	aspect-ratio: 1 / 1.62;
}
.card {
	background: var(--bg-gray);
	border-radius: 16px;
	/* max-width: calc(100vw - 24px); */
	/* max-height: calc(100vh - 24px); */
	/* padding-top: 161.8%; */
	width: 100%;
	height: 100%;
	position: absolute;
	transition: .1s
}
.card:hover, .card:active {
	background: #282A36;
}
@media screen and (prefers-color-scheme: light) {
	.card {
		background: #eee;
		border-radius: 16px;
		/* max-width: calc(100vw - 24px); */
		/* max-height: calc(100vh - 24px); */
		/* padding-top: 161.8%; */
		width: 100%;
		height: 100%;
		position: absolute;
		transition: .1s
	}
	.card:hover, .card:active {
		background: #f5f5f5;
	}
}
.card__side {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	cursor: pointer;
}
.card__side_visible {
	display: flex;
}
.card__word {
	font-size: 32px;
}



/* .nav-container {} */
.nav {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 436px;
	max-width: 100%;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: space-between;
	pointer-events: none;
}
.nav__button {
	width: 48px;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: initial;
	cursor: pointer;
}
.nav__icon {
	width: 15px;
	height: 33px;
}

.nav__button:hover .nav__icon path {
	stroke: var(--btn-hover);
}